@charset "UTF-8";
/* CSS Document */

html {
    scroll-behavior: smooth;
    font-family: 'Courier New', monospace;
}

body {
    background-image: url(../img/fundoFatecon3.png );
    background-repeat: repeat;
    background-color: #e0e0e0;
    background-size: 170px 170px;
    scroll-behavior: smooth;
}



.galeria_img {
    display: flex;
    justify-content: space-around;
}

.galeria_img .column {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.column img {
    margin-top: 2em;
}

.navbar {
    background-color: black;
}

.nav-link {
    color: whitesmoke;

}

.nav-link:hover {
    color: #fbf304;

}

.navbar-nav .nav-link.active {
    color: #fbf304;
    font-weight: 500;
}

footer {
    color: white;
    margin-top: 3em;
}

footer a:hover {
    color: #fbf304 !important;
}

figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.fatecon25 {
    background-image: url(../img/fundoFatecon-removebg-preview.png);
    background-size: 50em;
}


.fotoquemsomos {
    transition: transform 0.3s ease;
    opacity: 0.3s ease;
    width: 50%;
    border-radius: 180em;
}

.fotoquemsomos:hover {
    transform: scale(1.03);
    transition: transform 0.3s ease;


}

.bgaluno {
    border-radius: 2em;
    background-repeat: repeat;
    background-color: #2f2b68;
    background-size: 100px 100px;
}

.linkquemsomos {
    color: white;
    transition: transform 0.3s ease;
    opacity: 0.3s ease;

}

.linkquemsomos:hover {

    transform: scale(1.03);
    transition: transform 0.3s ease;
    color: yellow;
}

.logo {
    transform: scale(1.0);
    transition: transform 0.3s ease;
}

.logo:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}

/* Fontes dos titulos */
h1 {
    font-family: "Bangers", system-ui;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 0.5em;
}

h2 {
    font-family: "Bangers", system-ui;
    font-weight: 320;
    font-style: normal;
    margin-bottom: 0.3em;
}

h3 {
    font-family: "Bangers", system-ui;
    font-weight: 250;
    font-style: normal;
}

h4 {
    font-family: "Bangers", system-ui;
    font-weight: 170;
    font-style: normal;
    margin: 0px;
}

/* Textos do site */
p {
    font-family: "Comic Neue", cursive;
    font-weight: 500;
    font-style: normal;
    font-size: 14pt;
}

figcaption {
    font-family: "Comic Neue", cursive;
    font-weight: 500;
    font-style: normal;
}

button p {
    margin: 0;
}

a p {
    margin: 0;
}

.linkgaleria {
    color: black;
    transition: transform 0.3s ease;
    opacity: 0.3s ease;

}

.linkgaleria:hover {

    transform: scale(1.03);
    transition: transform 0.3s ease;
    color: rgb(185, 142, 0);

}

/* Mobile */

@media (max-width: 576px) {

    .h2brasital {
        font-size: 1.8em;
        text-align: center;
    }

    main {
        margin-top: 5em;
    }

    .logo {
        width: 15%;
    }

    .bgaluno {
        padding: 4em 0em;
        margin: 0%;
        border: none;
        border-radius: 0;
        background-image: url(../img/fundoFatecon2.png);
        background-repeat: repeat;
        background-size: 200px 200px;
    }










}

/* Tablet */
@media (min-width: 577px) and (max-width: 992px) {

    .galeria_img {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .h1brasital {
        text-align: center;
    }

    .bgaluno {
        border: none;
        border-radius: 2em;
        background-image: url(../img/fundoFatecon2.png);
        background-repeat: repeat;
        background-size: 200px 200px;
    }

    .logo {
        width: 11%;
    }
}

/* Desktop */

@media (min-width: 993px) {

    .logo {
        width: 6%;
    }
}

.linkmapa {
    color: black;
    transition: transform 0.3s ease;
    opacity: 0.3s ease;
    transform: scale(1.01);
    font-weight: 500;
    font-style: normal;
    text-shadow: rgb(0, 0, 0) 0.1px 0.1px 0.2px;
}

.linkmapa:hover {

    transform: scale(1.1);
    transition: transform 0.3s ease;
    text-decoration: solid 1px #fbf304;
    text-shadow: black 0.1px 0.1px 0.2px;
}

.imgaleria {
    width: 100%;
    height: auto;
    border-radius: 1em;
    transition: transform 0.3s ease;
}

.imgaleria:hover {
    transform: scale(1.01);
    transition: transform 0.3s ease;
}


.bgaluno1 {
    background-color: #72635a;
}

.bgaluno2 {
    background-color: #7e7a65;
}

.bgaluno3 {
    background-color: #677780;
}

.bgaluno4 {
    background-color: #7c666c;
}

.bgaluno5 {
    background-color: #7d738d;
}